body
{
  background-color:gainsboro;
}
header
{
  color:orange;
  text-align: center;
  background-color: slategray;
}



p
{
  color: slategray;
  text-align: center;
  /* letter-spacing: 3px;
  column-count: 4;
  column-gap: 2px; */
}
ul
{
  /* border-style: solid;
  border-right: 2px;
  border-color: cornflowerblue; */
  /* border : 2px solid cornflowerblue; */
  border-bottom: 4px dashed cornflowerblue;
  border-left:4px dashed cornflowerblue;
}

li
{
  list-style-type: style none;
  text-shadow: 2px 2px lightblue;
}

/* class style */
p.new
{
  color:#02a0e9;
  text-align: left;
  background-color: rgb(255, 24, 24);
}
p.new.neww
{
  color:#ADE792;
  font-family:Georgia, 'Times New Roman', Times, serif ;
  font:bold;

}